@model IEnumerable<VehicleModel>; 

@{
    ViewData["Title"] = "Admin Page";
}

<div class="container">
    <h2>Admin Page</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Title)</th>
                <th>@Html.DisplayNameFor(m => m.ProductDescription)</th>
                <th>@Html.DisplayNameFor(m => m.FilePath)</th>
                <th>@Html.DisplayNameFor(m => m.ImageName_1)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in Model!)
            {
                 <tr>
                    <td>@Html.DisplayFor(m => vehicle.Title)</td>
                    <td>@Html.DisplayFor(m => @vehicle.ProductDescription)</td>
                    <td>@Html.DisplayFor(m => @vehicle.FilePath)</td>
                    <td>@Html.DisplayFor(m => @vehicle.ImageName_1)</td>
                    <td>
                        <a asp-action="Detail" data-toggle="Detail" title="Detail" asp-route-id="@vehicle.Id"><i class="fas fa-file-alt"></i></a>

                        <a asp-action="Add" data-toggle="Add" title="Add" ><i class="fas fa-clipboard-list"></i></a>
                        <a asp-action="Edit" data-toggle="Edit" title="Edit" asp-route-id="@vehicle.Id"><i class="fas fa-pencil-alt"></i></a>
                        <a class="icon-delete" asp-action="Delete" data-toggle="Delete" title="Delete" asp-route-id="@vehicle.Id"><i class="fas fa-trash-alt"></i></a>

                    </td>
                </tr>
            }
           
            
        </tbody>
    </table>
</div>


